<div class="card">
  <div class="box">
    <h1 class="title has-text-centered">Password Generator</h1>

    <div class="field">
      <input class="input is-rounded" placeholder="Password Length"
        (input)="onSetPasswordLength($event.target.value)" />
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <div class="control has-text-centered">

            <label class="cust_control cust_control--checkbox" (change)="onIncludeProp('includeLetters')">
              Use Letters
              <input type="checkbox" [checked]="includeLetters" />
              <div class="cust_control__indicator"></div>
            </label>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <div class="control has-text-centered">
            <label class="cust_control cust_control--checkbox" (change)="onIncludeProp('includeNumbers')">
              Use Numbers
              <input type="checkbox" [checked]="includeNumbers" />
              <div class="cust_control__indicator"></div>
            </label>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <div class="control has-text-centered">
            <label class="cust_control cust_control--checkbox" (change)="onIncludeProp('includeSymbols')">
              Use Symbols
              <input type="checkbox" [checked]="includeSymbols" />
              <div class="cust_control__indicator"></div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <button class="button is-link"
      [disabled]="!passwordLength || (!includeLetters && !includeNumbers && !includeSymbols)"
      (click)="onGeneratePassword()">
      Generate Password!
    </button>

    <div class="result" *ngIf="password">
      <p>Your Password</p>
      <input class="input" [value]="password" readonly />
    </div>
  </div>

</div>